<div>
  <app-dialog-content>
    <div class="flex gap-5 justify-between">
      <div class="flex flex-col">
        <div class="headline">Salidas</div>
        <div class="flex flex-col caption">
          <div>
            {{ data.solicitante.apellido | titlecase }}
            {{ data.solicitante.nombre | titlecase }}
          </div>
          <div>{{ data.solicitante.ci }}</div>
        </div>
      </div>

      <div class="flex gap-5">
        <app-dropdown
          [dataCb]="gestionesDropdownCb"
          [showFilter]="true"
          filterPlaceholder="Gestión"
          [showClearSelectionBtn]="true"
          emptyValueLabel="Gestión"
          (valueChange)="onGestionChange($event)"
        >
          <app-icon prefix name="calendar"></app-icon>
        </app-dropdown>
        <app-dropdown
          [dataCb]="materialesDropdownCb"
          [showFilter]="true"
          filterPlaceholder="Nombre"
          [showClearSelectionBtn]="true"
          emptyValueLabel="Material"
          (valueChange)="onMaterialChange($event)"
        >
          <app-icon prefix name="cube"></app-icon>
        </app-dropdown>
      </div>
    </div>

    <app-header>
      <ng-template appHeaderBrowser>
        <app-form-field class="w-[280px]">
          <app-label>Fecha / Documento</app-label>
          <app-icon name="research" appPrefix></app-icon>
          <input
            appInput
            [(ngModel)]="term"
            (ngModelChange)="termSubject.next($event)"
          />
        </app-form-field>
      </ng-template>
    </app-header>

    <app-table [fetchDataCb]="fetchDataCb" [columns]="columns"></app-table>
  </app-dialog-content>

  <app-dialog-actions>
    <button type="button" (click)="close()" appButton color="secondary">
      Cerrar
    </button>
  </app-dialog-actions>
</div>

<ng-template #materialColumn let-salida="element">
  <app-cell>
    {{ salida.material.nombre | titlecase }}
  </app-cell>
</ng-template>

<ng-template #fechaColumn let-salida="element">
  <app-cell>
    {{ salida.comprobanteSalidas.fechaSalida | date : 'd/M/yyyy' }}
  </app-cell>
</ng-template>

<ng-template #documentoColumn let-salida="element">
  <app-cell>
    {{ salida.comprobanteSalidas.documento }}
  </app-cell>
</ng-template>

<ng-template #cantidadColumn let-salida="element">
  <app-cell>
    {{ salida.cantidad }}
  </app-cell>
</ng-template>
