<app-table
  (onDblClickRow)="openProveedorDialog($event)"
  (onBsRow)="onBsRow($event)"
  [fetchDataCb]="fetchDataCb"
  [columns]="columns"
></app-table>

<ng-template #nombreColumn let-proveedor="element">
  <app-cell>
    {{ proveedor.nombre | titlecase }}
  </app-cell>
</ng-template>

<ng-template #nitCiColumn let-proveedor="element">
  <app-cell>
    {{ proveedor.nitCi }}
  </app-cell>
</ng-template>

<ng-template #verEntradasColumn let-proveedor="element">
  <app-cell>
    <button
      appIconButton
      color="primary"
      (click)="openVerComprobanteDialog(proveedor)"
    >
      <app-icon name="eye"></app-icon>
    </button>
  </app-cell>
</ng-template>

<ng-template #createProveedorButton>
  <button (click)="openProveedorDialog()" appButton color="primary">
    <app-icon name="add"></app-icon>
    Registrar proveedor
  </button>
</ng-template>

<ng-template #filterInput>
  <app-form-field>
    <app-label>Nombre</app-label>
    <app-icon name="research" appPrefix></app-icon>
    <input
      appInput
      (ngModelChange)="termSubject.next($event)"
      [(ngModel)]="term"
    />
  </app-form-field>
</ng-template>
