<app-table
  (onDblClickRow)="openComprobantesEntradasDialog($event)"
  (onBsRow)="onBsRow($event)"
  [fetchDataCb]="fetchDataCb"
  [columns]="columns"
></app-table>

<ng-template #fechaColumn let-comprobanteSalidas="element">
  <app-cell>
    {{ comprobanteSalidas.fechaSalida | date: 'd/M/yyyy' }}
  </app-cell>
</ng-template>

<ng-template #solicitanteColumn let-comprobanteSalidas="element">
  <app-cell *ngIf="comprobanteSalidas.vencido; else solicitante">
    Vencido
  </app-cell>
  <ng-template #solicitante>
    <app-cell>
      {{ comprobanteSalidas.solicitante.apellido | titlecase }}
      {{ comprobanteSalidas.solicitante.nombre | titlecase }}
    </app-cell>
  </ng-template>
</ng-template>

<ng-template #documentoColumn let-comprobanteSalidas="element">
  <app-cell>
    {{
      comprobanteSalidas.documento
        ? comprobanteSalidas.documento
        : '000-' + comprobanteSalidas.id
    }}
  </app-cell>
</ng-template>

<ng-template #gestionColumn let-comprobanteSalidas="element">
  <app-cell>
    {{ comprobanteSalidas.gestion.fechaApertura | date: 'Y' }}
    - {{ comprobanteSalidas.gestion.fechaApertura | date: 'd/M/yyyy'
    }}{{ comprobanteSalidas.gestion.fechaCierre ? ' - ' : ''
    }}{{ comprobanteSalidas.gestion.fechaCierre | date: 'd/M/yyyy' }}
  </app-cell>
</ng-template>

<ng-template #createComprobanteSalidasButton>
  <button (click)="openComprobantesEntradasDialog()" appButton color="primary">
    <app-icon name="add"></app-icon>
    Registrar salidas
  </button>
</ng-template>

<ng-template #filterInput>
  <app-form-field>
    <app-label>Solicitante / Documento</app-label>
    <app-icon name="research" appPrefix></app-icon>
    <input
      appInput
      (ngModelChange)="termSubject.next($event)"
      [(ngModel)]="term"
    />
  </app-form-field>
</ng-template>

<ng-template #materialesVencidosFilter>
  <app-checkbox [(ngModel)]="vencido" (ngModelChange)="onVencidoChange()">
    Materiales vencidos
  </app-checkbox>
</ng-template>

<ng-template #gestionesFilter>
  <app-dropdown
    [dataCb]="gestionesDropdownCb"
    [showFilter]="true"
    filterPlaceholder="Fecha"
    [showClearSelectionBtn]="true"
    emptyValueLabel="Gestión"
    (valueChange)="onGestionChange($event)"
  >
    <app-icon prefix name="calendar"></app-icon>
  </app-dropdown>
</ng-template>
