<div class="default-dialog-content">
  <app-dialog-title>Usuario</app-dialog-title>

  <app-dialog-content>
    <form
      class="flex flex-col gap-4"
      [formGroup]="usuarioForm"
      (ngSubmit)="onSubmit()"
    >
      <app-form-field>
        <app-label>Nombre</app-label>
        <input appInput formControlName="nombre" />
        <app-error *ngIf="nombre?.hasError('required')">Requerido</app-error>
      </app-form-field>

      <app-form-field>
        <app-label>Apellido</app-label>
        <input appInput formControlName="apellido" />
        <app-error *ngIf="apellido?.hasError('required')">Requerido</app-error>
      </app-form-field>

      <app-form-field>
        <app-label>Username</app-label>
        <input appInput formControlName="username" />
        <app-error *ngIf="username?.hasError('required')">Requerido</app-error>
      </app-form-field>
    </form>
  </app-dialog-content>

  <app-dialog-actions>
    <button appButton color="secondary" (click)="close()">Cerrar</button>
    <button appButton color="primary" (click)="onSubmit()">Actualizar</button>
  </app-dialog-actions>
</div>
