<app-table
  (onDblClickRow)="openComprobantesEntradasDialog($event)"
  (onBsRow)="onBsRow($event)"
  [fetchDataCb]="fetchDataCb"
  [columns]="columns"
></app-table>

<ng-template #fechaColumn let-comprobanteEntradas="element">
  <app-cell>
    {{ comprobanteEntradas.fechaEntrada | date: 'd/M/yyyy' }}
  </app-cell>
</ng-template>

<ng-template #proveedorColumn let-comprobanteEntradas="element">
  <app-cell>
    {{ comprobanteEntradas | nombreProveedor }}
  </app-cell>
</ng-template>

<ng-template #documentoColumn let-comprobanteEntradas="element">
  <app-cell>
    {{ comprobanteEntradas | documentoComprobateEntrada }}
  </app-cell>
</ng-template>

<ng-template #gestionColumn let-comprobanteEntradas="element">
  <app-cell>
    {{ comprobanteEntradas.gestion | gestion }}
  </app-cell>
</ng-template>

<ng-template #cargarSaldosAction>
  <button appButtonOutline (click)="openCargarSaldosDialog()">
    <app-icon name="cargar-saldo"></app-icon>
    Cargar saldos
  </button>
</ng-template>


<ng-template #createComprobanteEntradasButton>
  <button (click)="openComprobantesEntradasDialog()" appButton color="primary">
    <app-icon name="add"></app-icon>
    Registrar entradas
  </button>
</ng-template>

<ng-template #filterInput>
  <app-form-field>
    <app-label>Proveedor / Documento</app-label>
    <app-icon name="research" appPrefix></app-icon>
    <input
      appInput
      (ngModelChange)="termSubject.next($event)"
      [(ngModel)]="term"
    />
  </app-form-field>
</ng-template>

<ng-template #saldosGestionAnteriorFilter>
  <app-checkbox
    [(ngModel)]="saldoGestionAnterior"
    (ngModelChange)="onSaldoGestionAnteriorChange()"
  >
    Saldos gestión anterior
  </app-checkbox>
</ng-template>

<ng-template #gestionesFilter>
  <app-dropdown
    [dataCb]="gestionesDropdownCb"
    [showFilter]="true"
    filterPlaceholder="Fecha"
    [showClearSelectionBtn]="true"
    emptyValueLabel="Gestión"
    (valueChange)="onGestionChange($event)"
  >
    <app-icon prefix name="calendar"></app-icon>
  </app-dropdown>
</ng-template>
