<div class="default-dialog-content">
  <app-dialog-title *ngIf="data; else defaultTitle">
    {{ data.nombre | titlecase }}
  </app-dialog-title>

  <ng-template #defaultTitle>
    <app-dialog-title>Registrar proveedor</app-dialog-title>
  </ng-template>

  <app-dialog-content>
    <form
      class="default-form"
      [formGroup]="proveedorForm"
      (keydown.enter)="onSubmit()"
    >
      <app-form-field>
        <app-label>Nombre</app-label>
        <input appInput formControlName="nombre" />
        <app-error *ngIf="nombre?.hasError('required')">
          Campo requerido
        </app-error>
      </app-form-field>

      <app-form-field>
        <app-label>NIT / C.I.</app-label>
        <input appInput formControlName="nitCi" />
        <app-error *ngIf="nitCi?.hasError('required')">
          Campo requerido
        </app-error>
      </app-form-field>
    </form>
  </app-dialog-content>

  <app-dialog-actions>
    <button appButton (click)="close()" type="button" color="secondary">
      Cancelar
    </button>
    <button appButton type="button" (click)="onSubmit()" color="primary">
      {{ data ? 'Actualizar' : 'Registrar' }}
    </button>
  </app-dialog-actions>
</div>
