<div
  style="width: 478px"
  class="flex flex-col gap-6 default-box-shadow p-16 default-rounded"
>
  <p class="headline">Nuevo usuario</p>

  <form class="flex flex-col gap-6" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field>
      <app-label>Nombre</app-label>
      <input
        appInput
        formControlName="nombre"
        placeholder="Ingrese su nombre"
      />
      <app-error *ngIf="nombre?.hasError('required')">
        Campo requerido
      </app-error>
    </app-form-field>

    <app-form-field>
      <app-label>Apellido</app-label>
      <input
        appInput
        formControlName="apellido"
        placeholder="Ingrese su apellido"
      />
      <app-error *ngIf="apellido?.hasError('required')">
        Campo requerido
      </app-error>
    </app-form-field>

    <app-form-field>
      <app-label>Usuario</app-label>
      <input
        appInput
        formControlName="username"
        placeholder="Ingrese un nombre de usuario"
      />
      <app-error *ngIf="username?.hasError('required')">Campo requerido</app-error>
    </app-form-field>

    <app-form-field>
      <app-label>Contraseña</app-label>
      <input
        appInput
        formControlName="password"
        type="password"
        placeholder="Ingrese su contraseña"
      />
      <app-error *ngIf="password?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres
      </app-error>
      <app-error *ngIf="password?.hasError('required')">
        Campo requerido
      </app-error>
      <app-error *ngIf="form?.hasError('passwordMismatched')">
        La contraseña no coincide
      </app-error>
    </app-form-field>

    <app-form-field>
      <app-label>Confirme su contraseña</app-label>
      <input
        appInput
        formControlName="confirmPassword"
        type="password"
        placeholder="Vuelva a ingresar su contraseña"
      />
      <app-error *ngIf="confirmPassword?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres
      </app-error>
      <app-error *ngIf="confirmPassword?.hasError('required')">
        Campo requerido
      </app-error>
      <app-error *ngIf="form?.hasError('passwordMismatched')">
        La contraseña no coincide
      </app-error>
    </app-form-field>

    <a routerLink="/cambiar-password" class="hyperlink ml-auto">
      ¿Olvidaste tu contraseña?
    </a>

    <button appButton size="md" color="primary" type="submit">
      Registrar usuario
      <app-icon name="right-arrow"></app-icon>
    </button>
  </form>
  <span class="mx-auto">
    <span class="button-small mr-1">¿Ya estas registrado?</span>
    <a routerLink="/login" class="hyperlink mx-auto">inicia sesión</a>
  </span>
</div>
