<div class="main-content-wrap">
  <app-header headerTitle="Reportes"></app-header>

  <div>
    <button appButtonOutline type="button" color="primary">
      Kardex de almacenes
    </button>

    <button appButtonOutline type="button" color="primary">
      Levantamiento físico
    </button>

    <button appButtonOutline type="button" color="primary">
      Físico valorado
    </button>

    <button appButtonOutline type="button" color="primary">
      Análisis de consistencia
    </button>

    <button appButtonOutline type="button" color="primary">
      Centralización de movimientos
    </button>
  </div>
</div>
