@font-face {
  font-family: 'iconapp';
  src:  url('fonts/iconapp.eot?lb21t9');
  src:  url('fonts/iconapp.eot?lb21t9#iefix') format('embedded-opentype'),
    url('fonts/iconapp.ttf?lb21t9') format('truetype'),
    url('fonts/iconapp.woff?lb21t9') format('woff'),
    url('fonts/iconapp.svg?lb21t9#iconapp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconapp' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Right-arrow:before {
  content: "\e900";
}
.icon-Approve:before {
  content: "\e901";
}
.icon-Help:before {
  content: "\e902";
}
.icon-Cargar-saldo:before {
  content: "\e903";
}
.icon-Download-file:before {
  content: "\e904";
}
.icon-Upload-file:before {
  content: "\e905";
}
.icon-Equalizer:before {
  content: "\e906";
}
.icon-Trash:before {
  content: "\e907";
}
.icon-Hand-truck:before {
  content: "\e908";
}
.icon-Eye:before {
  content: "\e909";
}
.icon-Cancel:before {
  content: "\e90a";
}
.icon-Edit:before {
  content: "\e90b";
}
.icon-Balance:before {
  content: "\e90c";
}
.icon-Angle-left:before {
  content: "\e90d";
}
.icon-Add:before {
  content: "\e90e";
}
.icon-Research:before {
  content: "\e90f";
}
.icon-Turn-down-right:before {
  content: "\e910";
}
.icon-Turn-down-left:before {
  content: "\e911";
}
.icon-Cube:before {
  content: "\e912";
}
.icon-Calendar:before {
  content: "\e913";
}
.icon-Report:before {
  content: "\e914";
}
.icon-Data-storage:before {
  content: "\e915";
}
.icon-Menu:before {
  content: "\e916";
}
.icon-Left-alignment:before {
  content: "\e917";
}
.icon-Right-alignment:before {
  content: "\e918";
}
.icon-Angle-up:before {
  content: "\e919";
}
.icon-Angle-down:before {
  content: "\e91a";
}
.icon-Arrows:before {
  content: "\e91b";
}
.icon-Angle-right:before {
  content: "\e91c";
}
.icon-Message:before {
  content: "\e91d";
}
.icon-Star:before {
  content: "\e91e";
}
.icon-Remove:before {
  content: "\e91f";
}
.icon-Lock:before {
  content: "\e920";
}
.icon-Person:before {
  content: "\e921";
}
